{% load static %}
<div class="border-end border-warning h-100">
  <div class="text-center">
    <img
      src="{% static 'core/images/file.png' %}"
      alt="ProfilePic"
      class="img-fluid rounded-circle mt-5"
      width="100px"
      heght="100px"
    />
    <h3 class="text-white mt-3 satisfy-regular">Md Zakaria Hossain</h3>
  </div>
  <hr class="border-white border w-100"  />
  <nav class="nav flex-column text-center">
    <a href="{% url 'home' %}" class="nav-link {{home}}">Home</a>
    <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>
    <a href="{% url 'skill' %}" class="nav-link {{skill}}">Skill</a>
    <a href="{% url 'contract' %}" class="nav-link {{contract}}">Contact</a>
  </nav>
</div>
