.satisfy-regular {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
  }

html,
body{
    height:100%;
}
.container-fluid{
    min-height:100%;
}

/* services icon color */
.i-color{
    color:chartreuse;
}

.ss-color{
    color:silver;
}

a.nav-link{
    color: whitesmoke;
}

a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
}

a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}